.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .video__line {
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid $lightPink;
  }
  .video__owner {
    text-decoration-line: none;
    margin-bottom: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    span {
      font-weight: bold;
    }
  }
  .video__detail {
    height: 30px;
    font-size: 14px;
    border-radius: 15px;
    margin: 10px 0px;
    .video__detail__title {
      margin-bottom: 5px;
      span {
        margin-right: 5px;
      }
    }
  }
  .video__hashtags {
    display: flex;
    margin-bottom: 10px;
    .video__hashtag {
      margin-right: 5px;
      background-color: #ececec;
      color: black;
      padding: 3px 5px;
      border-radius: 15px;
    }
  }
}

.video__fix {
  display: flex;
  margin: 10px 0px;
  div {
    margin-right: 5px;
  }
}
.video__edit a,
.video__delete a {
  background-color: $pink;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  padding: 0px 5px;
}

.video__comment-form button {
  background-color: $pink;
  border-style: none;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 9999px;
    background-color: $lightPink;
    color: black;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#delete__comment:hover {
  cursor: pointer;
}
